<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="showTodoDetails(item)">
      {{ item.title }}
      <div item-end>
        {{ item.date }}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem">
    You navigated here from <b>{{  selectedItem.title }}</b>
  </div>
</ion-content>
